.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: 50px;
    margin: 20px 0;
    @include phone-only {
      font-size: 30px;
    }
  }

  &__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    @include phone-only {
      padding: 15px;
    }

    &__error {
      color: $red;
      margin-bottom: 10px;
      max-width: 350px;
    }

    &__inp {
      border: 2px solid $primary;
      border-radius: 50px;
      padding-left: 15px;
      height: 50px;
      max-width: 350px;
      width: 100%;
      font-size: 20px;
      margin-bottom: 20px;

      @include phone-only {
        height: 40px;
        font-size: 15px;
      }

      &:focus {
        background-color: $primary;
        transform: scale(1.1);
        color: $secondary;
        border: 2px solid $primary !important;

        &::placeholder {
          color: $primary;
        }
      }
    }

    &__link {
      font-weight: bold;
      align-self: flex-start;
      cursor: pointer;
      color: $primary;
      text-decoration: none;
      &:hover {
        transform: scale(1.1);
      }
    }

    &__btn {
      background-color: $primary;
      color: $secondary;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
      border: 2px solid $primary;
      margin-top: 30px;
      align-self: flex-end;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        background: $secondary;
        color: $primary;
      }

      &--disabled {
        background-color: $grey;
        color: $secondary;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border: 2px solid $grey;
        margin-top: 30px;
        align-self: flex-end;
      }
    }
  }
}
