.newPost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 50px;

  &__title {
    text-align: center;
    font-size: 30px;
  }

  &__form {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 10px;
      border: none;
      width: 100%;

      @include phone-only {
        font-size: 20px;
      }

      &:focus {
        padding: 10px;
        background-color: $primary;
        color: $secondary;
        &::placeholder {
          color: $primary;
        }
      }
    }

    &__description {
      border: none;
      margin-bottom: 10px;
      width: 100%;
      font-size: 16px;
      color: $primary;

      &:focus {
        padding: 10px;
        background-color: $primary;
        color: $secondary;
        &::placeholder {
          color: $primary;
        }
      }
    }

    &__fakeImg {
      background-color: $grey;
      width: 100%;
      height: 400px;
    }

    &__image {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    &__submit {
      margin-top: 20px;
      background-color: $primary;
      color: $secondary;
      border: 1px solid $primary;
      width: 200px;
      height: 50px;
      align-self: center;
      cursor: pointer;

      &--disabled {
        background-color: $grey;
      }

      &:hover {
        transform: scale(1.1);
        background-color: $secondary;
        color: $primary;
      }
    }
  }
}
