@import "../Utils//variables.scss";

.header {
  background-color: $primary;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $secondary;

  &__img {
    width: 300px;

    @include phone-only {
      width: 200px;
    }
  }

  &__btn {
    background-color: $secondary;
    border: none;
    padding: 10px;
    color: $primary;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &--logout {
      background-color: transparent;
      color: $secondary;
      margin-right: 10px;
    }
  }

  &__imgCtn {
    display: flex;
    align-items: center;
    justify-content: center;

    &--displayNone {
      @include phone-only {
        display: none;
      }
    }

    @include phone-only {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $grey;
    }

    &__img {
      width: 30px;
      margin: 5px;
    }

    & > img:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &__burgerBtn {
    display: none;

    @include phone-only {
      display: block;
      z-index: 1;
      cursor: pointer;
    }
  }
}
