@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: 400ms;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  object-fit: cover;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;

  // Création d'un cadre autours des éléments lors du focus (WCAG)
  &:focus {
    border: 3px solid #3498db !important;
  }
}
